<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--自定义默认欢迎资源文件-->
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
        <!--动态资源文件也可以是欢迎文件 ,但是要去除别名最前面的 / -->
        <!--        <welcome-file>user/login</welcome-file>-->
    </welcome-file-list>
    <servlet>
        <servlet-name>UserAddServlet</servlet-name>
        <servlet-class>com.controller.User.UserAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserAddServlet</servlet-name>
        <url-pattern>/user/add</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserFindServlet</servlet-name>
        <servlet-class>com.controller.User.UserFindServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserFindServlet</servlet-name>
        <url-pattern>/user/find</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserDeleteServlet</servlet-name>
        <servlet-class>com.controller.User.UserDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserDeleteServlet</servlet-name>
        <url-pattern>/user/delete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserUpdataServlet</servlet-name>
        <servlet-class>com.controller.User.UserUpdataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>com.controller.User.UserLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserUpdateServlet_2</servlet-name>
        <servlet-class>com.controller.User.UserUpdateServlet_2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QusetAddServlet</servlet-name>
        <servlet-class>com.controller.Quest.QuestAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestFindAllServlet</servlet-name>
        <servlet-class>com.controller.Quest.QuestFindAllServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestDeleteServlet</servlet-name>
        <servlet-class>com.controller.Quest.QuestDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestUpdataServlet</servlet-name>
        <servlet-class>com.controller.Quest.QuestUpdataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestUpdataServlet_2</servlet-name>
        <servlet-class>com.controller.Quest.QuestUpdataServlet_2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestExamServlet</servlet-name>
        <servlet-class>com.controller.Quest.QuestExamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScoreServlet</servlet-name>
        <servlet-class>com.controller.Quest.ScoreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ScoreServlet</servlet-name>
        <url-pattern>/quest/exam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestExamServlet</servlet-name>
        <url-pattern>/quest/questExam</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>QuestUpdataServlet_2</servlet-name>
        <url-pattern>/quest/updata2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestUpdataServlet</servlet-name>
        <url-pattern>/quest/updata1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestDeleteServlet</servlet-name>
        <url-pattern>/quest/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestFindAllServlet</servlet-name>
        <url-pattern>/quest/findAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QusetAddServlet</servlet-name>
        <url-pattern>/quest/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserUpdateServlet_2</servlet-name>
        <url-pattern>/user/update2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/user/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserUpdataServlet</servlet-name>
        <url-pattern>/user/update</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>com.listener.OneListener</listener-class>
    </listener>
    <!--登录拦截器-->
    <filter>
        <filter-name>oneFilter</filter-name>
        <filter-class>com.filter.OneFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>oneFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--    utf-8拦截器-->
    <filter>
        <filter-name>UTF_Filter</filter-name>
        <filter-class>com.filter.UTF8_Filter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UTF_Filter</filter-name>
        <url-pattern>/quest/findAll</url-pattern>
        <url-pattern>/quest/delete</url-pattern>
        <url-pattern>/quest/*</url-pattern>
        <url-pattern>/quest/updata1</url-pattern>

    </filter-mapping>
</web-app>